<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET TEMPLATE CALCULATE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
       胸围 <input type="number" v-model="bust"> </br>
       背长 <input type="number" v-model="back"> </br>
       领围 <input type="number" v-model="neck"> </br>

        等分 <input type="number" v-model="part">  </br>

        后片 <input type="number" v-model="backW"> </br>
        后领围宽 <input type="number" v-model="backNeckW"> </br>
        后领围深 <input type="number" v-model="backNeckH"> </br>

        前片 <input type="number" v-model="frontW"> </br>
        前中线 <input type="number" v-model="frontCenter"> </br>
        前胸宽 <input type="number" v-model="frontBustW"> </br>
        
        前领围宽 <input type="number" v-model="frontNeckW"> </br>
        前领围深 <input type="number" v-model="frontNeckH"> </br>
    </div>

    <script>
         new Vue({
            el: '#app',
            data() {
                return {
                    back: 30,
                    neck: 30,
                    bust: 45 
                }
            },
            computed: {
                part() {
                    return this.back/5; 
                },
                sl() {
                    return this.neck/7;
                },
                backW() {
                    return (this.bust/10)*3;
                },
                backNeckW() {
                    return this.neck/4;
                },
                backNeckH() {
                    return this.neck/8;
                },
                frontW() {
                    return this.bust/5;
                },
                frontCenter() {
                    return this.back/10*7-1;
                },
                frontBustW() {
                    return this.bust/10-1;
                },
                frontNeckW() {
                    return this.neck/5;
                },
                frontNeckH() {
                    return this.neck/12;
                }
            },
        })
    </script>
</body>
</html>
